<%-include("partials/header")%>

<h1>About</h1>
Blogs evolved from online diaries and journals in the mid-90s. At that time, internet users were already running personal web pages where they published regular updates about their personal lives, thoughts, and social commentary.
The term web log was first used during the late 90s, which later became ‘weblog’, then ‘we blog’, and finally just ‘blog’.
Due to the growing number of such web pages, several tools started to appear, which made it easier for users to create online journals and blogs. These tools helped popularize blogging and made the technology accessible to non-technical users.
<br><br>
In 1999, the popular blogging website Blogger.com was launched, which was later acquired by Google in February 2003.
The same year, WordPress released its first version as a blogging platform in May 2003.
Today, WordPress is the world’s most popular blogging platform powering over 30% of all websites on the internet.


<%-include("partials/footer")%>
