<%-include("partials/header")%>


<div class="area">
  <div class="center">
    <br><br>
    <p>Created by Shubham</p>
    <p>Email at : Kumar.shubham541@gmail.com></p>
    <p>Contact  : +91 9163235111</p>
  </div>
</div>


<%-include("partials/footer")%>
